[2021-04-16 00:42] #209 closed

[2021-04-16 04:08] slgobinath commented on #431
@daedroza sorry I couldn't find enough time to test the recent changes and release the fix. I will try my best to release it this weekend.

[2021-04-16 09:30] cs96and commented on #268
This is the [same issue](https://github.com/slgobinath/SafeEyes/issues/428) I am having on Debain 11 (bullseye) .

libappindicator-gtk3 no longer exists.  It has been replaced with  libayatana-appindicator3-1.  I tried installing gir1.2-ayatanaappindicator3-0.1 and libayatana-appindicator3-1 instead, but I still get the same error.

[2021-04-16 11:38] Porrumentzio commented on #438
Glossary is used to maintain coherence into translations, so it is easy to know how to translate a term.

Seems that a component must be converted to glossary, so the idea is to create a unique component to use as glossary: https://docs.weblate.org/en/latest/admin/projects.html?highlight=glossary#use-as-a-glossary

[2021-04-16 17:23] kdnfgc commented on #435
I actually wanted to make this app once I got out of high school.

[2021-04-19 16:32] Porrumentzio opened #439 "Add animations illustrating the exercises on break screen"

[2021-04-20 17:41] PopeRigby commented on #434
I'm also not getting sounds anymore, but this was only after the update that I just got. I'm on Arch.

[2021-04-20 18:33] nav9 commented on #390
Just sharing more experiences from people world-over: https://nav9.medium.com/the-real-cure-for-eye-strain-more-experiences-7f4c1c552d5a
It's just sad that people are being led to believe that eye exercises, eye drops, special spectacles and special monitors can cure their eye strain, when the commonsense solution of getting proper sleep, rest and nutrition is not given enough emphasis. If all eye

[2021-04-20 18:38] PopeRigby opened #440 "SafeEyes no longer automatically shows the break screen after latest update"
After the latest update, SafeEyes will give me a notification about a break coming up, but it won't actually show the black break screen. I tried running `safeeyes --debug`, but it didn't say anything useful when the break was supposed to begin.

OS: Arch Linux
WM: Sway

[2021-04-20 20:50] slgobinath commented on #440
Hi, Can you share the output of the safeeyes --debug output?

[2021-04-20 20:51] slgobinath commented on #431
Released the fix in 2.1.3

[2021-04-20 20:51] #431 closed

[2021-04-20 22:41] PopeRigby commented on #440
Sure:
[code]

[2021-04-22 08:56] Porrumentzio opened #441 "Can not run SafeEyes since last update"
It is not possible to launch the program, not with the launcher, neither by command line
[code]

[2021-04-23 17:09] PopeRigby commented on #440
It started working again after I rebooted. Sorry for the false alarm.

[2021-04-23 17:09] #440 closed

[2021-04-26 15:23] tuhlaajapoika commented on #320
This program really helps me with my attention decifit disorder. I usually keep 'skip' and 'postpone' disabled. If I enable either of them for longer period of time, I end up postponing/skipping multiple times in a row without taking a single break.

It would be great to have a counter which limits the number of postponements until forcing me to take a break. Not sure how difficult it would be to

[2021-04-29 11:30] cs96and commented on #417
Yep, same problem for me, as mentioned here
https://github.com/slgobinath/SafeEyes/issues/268#issuecomment-821049219

[2021-04-29 16:06] illuusio commented on #437
Which WM do you use as it works for me from rpm

[2021-05-04 16:14] AdamPS opened #443 "Incorrectly skipped long breaks"
Configure settings as follows:
- Break durations are 10 minutes and 20 minutes
- Shuffle breaks
- Just one configured long break

Long breaks are delayed in two cases.

### When the long breaks are shuffled
Start SafeEyes with above settings:
- Short break at 10 minutes (causes shuffle, resets time on long break to 20)
- Long break at 30 minutes

### When breaks are reset
After reset breaks (for e

[2021-05-06 13:48] smith558 commented on #391
Becoming more urgent as Ubuntu has just switched to Wayland as default from 21.04 onwards releases.

[2021-05-06 13:55] smith558 commented on #264
@slgobinath seems like this may be closed as the feature has been implemented

[2021-05-08 01:20] dbogdanov commented on #375
I have the same issue and I cannot uninstall `xprintidle` in APT as a workaround because it will require removing the `safeeyes` package as well.

[2021-05-08 02:51] kdnfgc commented on #437
This way back when I was using MATE & XFCE (X11). I'm currently using KDE Plasma (Wayland) and it works fine.

[2021-05-09 17:17] lamyergeier opened #445 "Ability to control audible alert volume"
Normally my volume is 100%, but I would like the alert to have lesser volume say 50%. Is it possible if you could provide a setting in GUI to change the volume of alert?

[2021-05-10 14:32] ilario commented on #375
@dbogdanov check out the discusion on #391
The dependencies will be updated once there will be a mechanism working also on Wayland, I suppose.

[2021-05-13 01:09] slgobinath commented on #374
Hi, Lets continue our discussion here. What if we show an info like this:
[code]

or

[code]

(whatever looks good)

Would that solve your requirement? Showing both times require some changes in the core API because right now plugins get the information only about the next break. We need to send the information about the next short break and next long break.

[2021-05-13 01:13] slgobinath commented on #441
Hi, Can you share the output of the `locale` command from your terminal. Looks like there is a mistake in a translation file.

[2021-05-13 01:17] slgobinath commented on #437
Can I assume that this problem doesn't affect the openSUSE now?
I also noticed the `xhost +` issue in some Ubuntu versions too. It was mainly due to some error in the xorg than a problem with Safe Eyes.

Related to https://github.com/slgobinath/SafeEyes/issues/308

[2021-05-13 04:44] AssafKatz3 commented on #374
Hi,
@slgobinath Yes, it will solve my problem. The request of @AdamPS will be great also. I finally switch from SafeEyes due to this issue.
Thanks

[2021-05-13 06:23] Porrumentzio commented on #441
I use `eu` or `eu-ES` locales and actually I translated SafeEyes into those, so it could be.

[2021-05-13 09:06] illuusio commented on #437
Only problem that I see in XFCE (I use Tumbleweed) is that during safeeyes everything blinks rapidly. With other WM I haven't noticed that. I couldn't track down why it's blinking.

[2021-05-13 10:21] AdamPS commented on #374
Thanks @slgobinath.   Yes showing both breaks in the menu sounds good to me thanks.  I would also like to be able to choose to show the long break time in the tray icon instead of the next break time please.  It was working like that in my pull request - I added a core API function `get_break_time(self, break_type = None)`.

[2021-05-13 12:22] slgobinath commented on #441
Yup the problem is in the `eu` translation. For the `For %d hour`, `For %d Minute`, and `For %d Second` msgids, the translations must always have the `%d` symbol. If it is not there, the Python formatting will throw an error and break the app.

For example, in English, we have `For %d hour` (singular) and `For %d hours` (plural). In Basque translation, singular terms do not have a place holder for

[2021-05-13 12:32] slgobinath opened #446 "Create an installer to install Safe Eyes third-party plugins"
Safe Eyes third-party plugins are available at https://github.com/safeeyes/safeeyes-plugins
A GUI tool to search and install these plugins will help users to install plugins from the desktop.

There are only 2 plugins at the moment so this tool development has low priority.

[2021-05-13 20:32] Porrumentzio commented on #441
There is no way of not using those parameters, right? It will be strange to decline a digital number ("1erako) instead of a word ("baterako")

[2021-05-17 11:22] slgobinath commented on #441
Hi, Yeah it makes sense. I will take a look if I can fix this at the code level. Meanwhile I am merging your PR.

[2021-05-17 11:22] #441 closed

[2021-05-21 13:38] Porrumentzio commented on #441
Could you create a tiny release so I can get this fix as soon as possible?

[2021-05-22 02:13] colourdelete opened #449 "Adding a break without text shows unexpected text"
Thank you for making this program!

When I add attempt to add a break (please correct me if that's not the right term) (both short and long) without text:
![step_1.png](https://user-images.githubusercontent.com/45807097/119211438-0c4ec080-ba80-11eb-9d55-d8398fe3d864.png)

The following unexpected text appears:
![step_2.png](https://user-images.githubusercontent.com/45807097/119211472-3dc78c00-ba80

[2021-05-23 10:57] slgobinath commented on #449
@colourdelete good catch!
Thanks for reporting. I will fix it in the next release.

[2021-05-26 02:59] slgobinath commented on #441
Hi, Sure I will release at my earliest. Sorry for the late reply and the time taking to release the next version as I am lost into my personal stuff and the Safe Eyes 3.0.0 implementation (a complete redesign of the core to make the code more readable and maintainable along with some fix to the current design flaws).

Until then you can replace the po and mo file of your locale using the given att

[2021-05-26 06:47] Porrumentzio commented on #441
That's great, don't worry! And look at this:

I tried that method, changing some needed directory paths, but it didn't work for me. So I'll wait for the release, there's no problem :)

[2021-05-26 21:30] slgobinath opened #450 "Safe Eyes 3.0.0"
**Is your feature request related to a problem? Please describe.**
Recently when I looked into the code of the Safe Eyes core, I couldn't understand the very same code I wrote years ago. I started Safe Eyes as a hobby project and it is welcomed by the Linux community and I believe there are thousands of users using Safe Eyes. I guess this is the time to refactor the design of Safe Eyes to make the

[2021-06-05 07:37] gayanW opened #452 "Single display support"
**Is your feature request related to a problem? Please describe.**
I want to get SafeEyes reminders to appear on just my primary display, or on a selected display.

**Describe the solution you'd like**
If there's already a workaround to make this work, that would be enough for me.

[2021-06-08 21:48] jacksongoode opened #453 "White background on reset button"
Clicking on the eye in the top-right corner produces a button with a white background - making the text unreadable.

![image](https://user-images.githubusercontent.com/54308792/121261789-0884b180-c868-11eb-8d22-2273afad1579.png)

 - OS: Ubuntu 20.04.2
 - Desktop Env: Gnome 3.36.8 (Wayland)
 - Version: Latest

[safeeyes.log](https://github.com/slgobinath/SafeEyes/files/6619766/safeeyes.log)

[2021-06-08 22:49] PopeRigby commented on #432
I'm attempting to build a Flatpak of SafeEyes currently ([repository](https://github.com/PopeRigby/org.slgobinath.SafeEyes)). Does SafeEyes us GDBus to access DBus? Or does it use `dbus-python`?

[2021-06-10 02:34] slgobinath commented on #432
@PopeRigby thank you so much. I am using the `dbus-python` API. You can see the import here: https://github.com/slgobinath/SafeEyes/blob/master/safeeyes/safeeyes.py#L28

[2021-06-10 04:57] jacksongoode commented on #453
I've traced it back to the styling in `.btn_menu`...

Wondering if this was a legacy styling. Could it be removed? Along with line 86:88 in `settings_dialog.glade`. If so I'll make a PR.

![image](https://user-images.githubusercontent.com/54308792/121467043-3ef82480-c96d-11eb-908c-f317bbe3fafe.png)

[2021-06-10 11:49] slgobinath commented on #453
Hi,
Yeah I think that's the problem Can you modify the `~/.config/safeeyes/style/safeeyes_style.css` file and restart Safe Eyes to see if it works?
Also I prefer to remove only the background color because I want the Reset button to look like a menu item.

[2021-06-10 17:38] PopeRigby commented on #432
Got it. I'll tell you if I have any other issues.

[2021-06-12 05:01] jacksongoode commented on #453
It looks like something is overriding the styling? The only way I've found to remove the white effect is to remove the styling tag in `settings_dialog.glade`. Altering the css for either `.btn_menu` or the `:hover` appears to do nothing.

[2021-06-12 12:55] #452 closed

[2021-06-14 12:01] rob006 commented on #367
I'm not sure if it helps, but this error is logged in my case:

[code]

[2021-06-14 23:02] PopeRigby commented on #432
Hey, so I got it to build successfully, but it's giving a critical GTK error, the tray icon is missing, and I don't seem to be able to access the settings, along with something else about xauthority.
[code]

[2021-06-15 00:15] slgobinath commented on #432
For the Xlib xauthority problem, please check this solution https://github.com/slgobinath/SafeEyes/issues/206#issuecomment-338047998

For the Gtk-CRITICAL issue, I have to debug and see. Can you share your system info (OS and Desktop Env)? I will try to reproduce it.

[2021-06-15 16:53] jacksongoode commented on #317
@slgobinath just wondering if this was implemented? As I believe there is some choppiness for those on Gnome with animations disabled during this transition.

[2021-06-15 16:59] PopeRigby commented on #432
I'll try to get that working in the Flatpak.

My OS is Arch Linux and I'm using Sway as my window manager. But, could you try cloning the [repository for the SafeEyes Flatpak](https://github.com/PopeRigby/org.slgobinath.SafeEyes/tree/main) and reproducing with that? There are instructions for building/running in the README.

[2021-06-16 15:50] aohanhongzhi opened #454 "自启动没有几秒钟就开始了？"
软件设置自启动，但是没有几秒就开始休息了。不科学啊

[2021-06-29 20:04] PopeRigby commented on #432
@slgobinath were you able to reproduce the issue?

[2021-06-29 20:57] slgobinath commented on #432
Hi, Sorry I didn't get a chance to test it. I will get back to you asap.

[2021-06-29 21:48] PopeRigby commented on #432
Thanks! Just checking in.

[2021-07-03 07:35] ajeetdsouza opened #455 "Error when installing with pipx"
**Describe the bug**

When installed with `pipx`, `safeeyes` fails to start with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior (on Fedora):
1. `sudo dnf install pipx libappindicator-gtk3 python3-psutil cairo-devel python3-devel gobject-introspection-devel cairo-gobject-devel`
2. `pipx install safeeyes`
3. `safeeyes`

**Expected behavior**

`pipx` installs Python pr

[2021-07-03 12:54] slgobinath commented on #455
Hi, can you also install `dbus-python` using pipx? I'm not familiar with pipx but I think it should be similar to installing in a python virtual box.

Please check the installation instructions on installing in python virtual box in the readme file.

[2021-07-03 15:37] ajeetdsouza commented on #455
`dbus-python` is a library, right? `pipx` is meant for installing binaries in an isolated manner, so I don't think a library can be installed as such. I tried `pipx install dbus-python` anyway:

[code]

[2021-07-04 10:59] slgobinath commented on #455
The problem is similar to this https://github.com/pypa/pipx/issues/703#issue-912727439

As described in that issue, if it's possible to activate the virtual environment manually, you can install safe eyes as described in the readme.

Safe Eyes relies on python dbus library but it's not included in the Python dependency list as it is preinstalled on most of the Linux systems and I don't want to int

[2021-07-05 01:25] binhtran432k commented on #439
I have the script to settup the eyeleo theme to safeeyes. Can you try it?
https://github.com/binhtran432k/safeeyes-eyeleo-theme/

[2021-07-05 09:40] Porrumentzio commented on #439
Could I try it without compiling SafeEyes?

[2021-07-05 09:51] Porrumentzio commented on #439
And how can I try this?

[2021-07-05 09:52] binhtran432k commented on #439
just `python install_config.py`

[2021-07-07 12:35] slgobinath commented on #432
@PopeRigby I tried to build the flatpak today but I got the following error:

[code]

I couldn't find any sources to install the SDK after a quick search. I will look at it this weekend.

[2021-07-07 13:30] Porrumentzio commented on #439
It's great! This could be a good implementation for official code :)

[2021-07-07 15:58] slgobinath commented on #439
Good job@binhtran432k
I also tried it and it looks good. I cannot add these gifs as part of the official package since the gifs are from another software with potential copyrights.

However I recommend anyone interested to use @binhtran432k configuration.

[2021-07-07 16:00] Porrumentzio commented on #439
I would go for some GIFs or similar files created explicitly for SafeEyes, with a common design.

[2021-07-07 21:55] PopeRigby commented on #432
Just run `flatpak install org.gnome.Sdk/x86_64/40`.

[2021-07-14 15:13] JoelFeiner commented on #445
I would also like this. The alarm doesn't last long enough to catch it in system settings.

[2021-07-14 21:54] slgobinath commented on #445
The audible alert plugin is using `aplay` to play the sound. `aplay` does not have an option to control the volume. I'm looking at alternatives to control the volume.

[2021-07-14 22:26] slgobinath commented on #432
After installing `flatpak install org.gnome.Sdk/x86_64/40` also I get the same error.

[2021-07-15 00:58] PopeRigby commented on #432
Strange. What OS are you on? Maybe try running `flatpak-builder` with `-v`.

[2021-07-15 01:36] slgobinath commented on #432
Linux Mint 20.1 with Cinnamon

[code]

[2021-07-15 02:06] PopeRigby commented on #432
Can you run `flatpak list`?

[2021-07-15 02:45] slgobinath commented on #432
[code]

This is how I installed (Now it says the sdk is already installed):

[code]

[2021-07-16 00:31] PopeRigby commented on #432
Try `org.gnome.Platform/x86_64/40`.

[2021-07-21 02:08] slgobinath commented on #432
It worked. Now I can build it but when I try to run it using `flatpak run org.slgobinath.SafeEyes`, I get the following error:
[code]

`/home/gobinath/.var/app/org.slgobinath.SafeEyes/config/` is there but the safeeyes.json is not there.

[2021-07-21 17:03] PopeRigby commented on #432
Yeah I also had that issue, and I'm not sure why SafeEyes wouldn't be automatically generating that file. I got it to work by copying my other versions of `safeeyes.json` to that path.

[2021-07-24 12:34] slgobinath commented on #432
Hi, the error comes from https://github.com/slgobinath/SafeEyes/blob/master/safeeyes/utility.py#L377 where I copy the configuration files from source to `~/.config` folder. I think the `/home/gobinath/.var/app/org.slgobinath.SafeEyes/config/safeeyes/safeeyes.json` is seen as the source location but its not.

I found the source config is available at this location: `/home/gobinath/.local/share/flat

[2021-07-24 19:21] PopeRigby commented on #432
Yeah, I believe `~/.local/share/flatpak/app/org.slgobinath.SafeEyes/x86_64/master` is the installation location.

From looking at the Flatpak documentation, it looks like config files are supposed to go in `~/.var/app/org.slgobinath.SafeEyes/config/`.

[2021-07-24 21:47] Erudition commented on #445
simply playing a test sound long enough would suffice - then we could reduce the application-specific volume in the settings. How about a button in the settings that plays a melody?

I agree, the beeps are too loud, when I have volume turned up for quieter media. Had to disable them completely.

[2021-08-02 09:00] buscon opened #456 "Start long break"
**Is your feature request related to a problem? Please describe.**
Right now it is possible to start a break manually. This starts the next planned break, i.e. it is not possible to decide whether to start a long or a short break.

**Describe the solution you'd like**
It would be useful to choose whether you want to start a short or long break.

**Describe alternatives you've considered**
Maybe it

[2021-08-02 11:45] slgobinath commented on #456
Hi, There is an issue already tracking this problem lets discuss it there. btw this feature is implemented in Safe Eyes 3.0.0 branch (currently under development). You can expect it in the next release.

Closing this in favour of https://github.com/slgobinath/SafeEyes/issues/347

[2021-08-02 11:45] #456 closed

[2021-08-03 18:32] mrtabaa opened #457 "No Long Break at All"
First of all, thanks a lot for your beautiful design and work! Great Job!

**Describe the bug**
I am not getting any long break at all even though it's set.  Please also see the **Suggestions / Improvements** at the end.

**To Reproduce**
Provided screenshot.

**Expected behavior**
I'd like to have a 10 minutes break every 45 minutes. Ideally looked for 15 minutes break but your app is limited to

[2021-08-07 20:22] shaform commented on #367
I also encounter the same issue when booting with Wayland on Ubuntu 20.04. Adding `~/.Xauthority` doesn't fix it for me, either. The error message I found in the log is the same as the one @rob006 provided.

Also, it seems that at the time of the crash, the `$XAUTHORITY` environment variable points to `/run/user/$UID/.mutter-Xwaylandauth.XXXX`, so I guess `~/.Xauthority` wouldn't be used.

[2021-08-07 20:28] shaform commented on #367
I found a simple workaround to prevent the crash. If we add a `time.sleep(...)` before the following line, it no longer crashes.
https://github.com/slgobinath/SafeEyes/blob/541f39fdc0d4e290d897da0c6498e355b444d0e2/safeeyes/ui/break_screen.py#L47

[2021-08-24 19:27] anishmittal2020 opened #458 "Solarized Dark theme for safeeyes"
Would be nice to have Solarized Dark theme or ability to change background and foreground colour?

White text on Black  background has very high contrast!

[2021-08-25 11:03] di72nn opened #459 "SafeEyes gets stuck because of the mediacontrol plugin sometimes"
I use [playerctl](https://github.com/altdesktop/playerctl) to control media players, and in some situations this happen:
[code]
This results in the break screen not appearing and the next break time stuck in the past.

**Expected behavior**
1. I'd think the main loop should be resilient to plugin errors.
2. The mediacontrol plugin should handle exceptional situations.

**Desktop:**
 - Version: 2.1

[2021-08-25 11:23] slgobinath commented on #459
Hi, I am working on Safe Eyes 3 (though the development is paused for a while due to my busy schedule). I will include the fix in the new version.

[2021-08-25 11:25] slgobinath commented on #458
Hi,
Its a good idea to have some themes. I will consider if it is possible in Safe Eyes 3. For the moment, you can modify the `~/.config/safeeyes/style/safeeyes_style.css` file to change the look and feel of break screen.

After making any changes, please restart the Safe Eyes to apply them.

[2021-08-25 11:31] slgobinath commented on #459
btw did you modify the media control plugin to work with playerctl? If so, would you mind sharing the advantages of using playerctl?

If it is universally applicable for all Linux distributions and better than the current approach, I can integrate it with the media control plugin by default.

[2021-08-25 14:49] di72nn commented on #459
No. I should have said that it's the issue with `playerctld` (which pretends to be an MPRIS-player and proxies to the last active player), not the `playerctl` itself.

I'm using commands like `playerctl --player=playerctld play-pause` in my shortcuts and `playerctld` to track the last active player (because otherwise `playerctl` may act on a wrong player). I haven't looked into how the media contr

[2021-08-30 07:56] shhoppe commented on #457
Me too.  Same occupation.  Same issue.

[2021-08-30 13:49] madand commented on #252
I have similar issue on Artix Linux (it's Arch Linux without systemd) with GTK 3.24.30. I use StumpWM as a window manager.

My setup is laptop screen + external monitor, with laptop screen being master. The SafeEyes popup window only gets displayed on whatever screen the mouse pointer currently is. Keyboard input is properly blocked.

[2021-09-03 11:40] shhoppe commented on #457
Ah, issue was that via the Software Manager, Mint installs v2.0.6 in which long breaks simply don't work due to a bug.  Uninstalling that and installed LA 2.1.3 via the web site fixed it.
I didn't figure it out sooner because this is a timer app, so I foolishly thought that the most basic timer functionality would be working all the way back to v0.1.  Maybe test  a little before releasing?

[2021-09-03 12:28] slgobinath commented on #457
@shhoppe thanks for reporting. Yeah sometimes bugs slip into new releases. I will be cautious next time.

@mrtabaa another reason for no long breaks can be idle time. If you are idle for a long time before a long break, the Smart Pause plugin may skip the next long break. Would you mind testing the behavior with the Smart Pause plugin disabled?

I like your idea of breaking the time into sessions.

[2021-09-06 07:31] h5rdly commented on #308
I 'm running OpenSUSE Tumbleweed, encountered the following -
- The tumbleweed package tries to install py38 stuff  - eg `python38-cairo`.
- `pip install safeeyes` tries to install pycairo as well and also fails -
   `ERROR: Could not build wheels for pycairo which use PEP 517 and cannot be installed directly`
- I found `python39-cairo` in yast which solved the issue, leading me to the error that'

[2021-09-12 15:40] Am0rphous opened #462 "MacOS support?"
Hi!
I really enjoy your software on Linux based OSes, but i also work with macOS. I tried to install safeeyes with the `pip3` command, but I ran into multiple issues which I'm not competent enough to solve myself.

I would like to know if there are plans on making support for macOS?

[2021-09-19 16:11] bnhrkn opened #463 "SafeEyes startup fails on Void Linux"
**Describe the bug**
SafeEyes startup fails with `socket.gaierror: [Errno -2] Name or service not known`

**To Reproduce**
Steps to reproduce the behavior:
1. Install safeeyes with `xbps-install -Su safeeyes` (install safeeyes and update system's packages)
2. Reboot
3. Run `safeeyes` in the terminal

**Expected behavior**
SafeEyes starts up successfully

**Desktop (please complete the following in

[2021-09-20 21:44] slgobinath commented on #463
Hi Are there any other services listening on port number `7200`?

[2021-09-21 02:16] bnhrkn commented on #463
No it does not appear so:
`sudo lsof -Pnl +M -i4`
[code]

[2021-09-21 02:59] slgobinath commented on #463
I'm not sure why this happens. It may also happen if Safe Eyes cannot access `localhost`.
Can you try editing the `~/.config/safeeyes/safeeyes.json` file manually and change the https://github.com/slgobinath/SafeEyes/blob/master/safeeyes/config/safeeyes.json#L14 `use_rpc_server` value to `false` and open Safe Eyes?

[2021-09-21 11:57] slgobinath commented on #463
Yeah that seems to be the issue. Thank you for updating.
I'm closing this issue as solved.

[2021-09-21 11:57] #463 closed

[2021-09-21 12:18] slgobinath commented on #462
Hi,
Sorry for the late. Safe Eyes heavily depends on XOrg and other Linux APIs. At the moment I do not support Mac or Windows. In the long run I'm planning to get an M1 and if that happens, I will consider porting it to Mac as well. However, I don't expect it to happen in the near future.

In Safe Eyes 3, I am working to remove OS level dependencies as much as possible so that the migration can be

[2021-09-21 12:55] Am0rphous commented on #462
Hi! No worries, thank you for the explenation.

[2021-10-15 07:52] azzamsa commented on #428
I think someone had submitted [a fix](https://github.com/slgobinath/SafeEyes/commit/c784000e694f9fa508a2535f5d23d04456b4ff86). However, having `gir1.2-ayatanaappindicator3-0.1` in my end, doesn't solve the problem.

[code]

[2021-10-16 09:19] h5rdly opened #467 "GTK error "Argument 0 does not allow None as a value" in Linux"
Safeeyes 2.1.3
OpenSUSE Tumbleweed

Running safeeyes from the command line, I get:
[code]

I'm trying to set up a Linux environment on a new computer, not having safeeyes gives me all the bad side effects of staring at the screen..

[2021-11-03 13:48] twhitbeck opened #468 "Can't install on Ubuntu 21.10 Impish"
**Describe the bug**
Trying to install following the Ubuntu instructions using the ppa. There is no install candidate for Ubuntu 21.10 impish.

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 21.10

[2021-11-03 20:59] twhitbeck commented on #468
resolved, txh!

[2021-11-03 20:59] #468 closed

[2021-11-09 04:18] teeann opened #469 "Add documentation for manually editing json config"
**Is your feature request related to a problem? Please describe.**
The option to edit `safeeyes.json` is not mentioned in the documentation. As a result, new users don't know to configure `safeeyes` in a reproducible way (i.e. editing the configuration text file).

**Describe the solution you'd like**
Add a brief mention of configuring `safeeyes` by editing `safeeyes.json` in the documentation.

[2021-12-29 17:32] Bound3R opened #471 "Select language"
I just installed safeeyes but I don't see an option to change the language or a configuration to set this value, I currently have my system in English, but I would prefer to see the messages in Spanish only for this application.

[2022-01-09 11:17] soredake commented on #432
Any progress on this?

[2022-01-09 17:18] lumbo7332 commented on #432
I was just waiting on @slgobinath

[2022-01-09 17:59] slgobinath commented on #432
Sorry this is my bad. I lost in other stuff and couldn't spend much time on this project. Though still it's the case, I will try my best to get back to you.

[2022-01-09 18:05] lumbo7332 commented on #432
No worries.

[2022-01-11 16:13] mohamed-zezo opened #472 "Screen flickering issue on Ubuntu 20.04"
**the bug**
I'm facing a screen flickering issue on Ubuntu 20.04. the black screen is toggling and resizing to the full screen every second.

![ezgif-2-f6ba670e31](https://user-images.githubusercontent.com/10938672/148979219-3f9adfff-e8d7-464e-9a83-90cefbca920b.gif)

**Steps to reproduce:**
Change the opacity to 0.5 in the safeeyes_style.css file.
Run SafeEyes.
Start a break (manually or time-base

[2022-01-21 12:53] dvoloshyn opened #473 "Only a single monitor out of three is locked when running in native wayland mode"
**Steps to reproduce the behavior:**
1. Multi-monitor Gnome wayland session. Here is mine: [MultiplMonitorsSetup.png](https://user-images.githubusercontent.com/20318198/150528507-4e96c356-e8ca-4362-8fdc-42623ef53765.png)
2. Start `safeeyes` in native wayland mode. To double check run `xprop` and try to click on safeeyes settings window. It should not be possible
3. Click 'Take a break now'
4. Only

[2022-01-23 13:11] ilario opened #474 "Broken old autostart link does never get updated if JSON file is present"
SafeEyes does not start at startup anymore (so this is a specific case of #367 and #361) when the Python version gets updated and SafeEyes reinstalled. But runs fine every time it gets launched directly. I observed this on Arch Linux installing SafeEyes via Yay + AUR.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Python3.9
2. Install SafeEyes
3. Open SafeEyes
4. Make sure that a co

[2022-01-23 14:56] ilario commented on #474
If the check was on the presence/absence of the link (instead than the JSON file), this issue can be fixed on Arch AUR side (I suppose) having the removal of the package also removing the link (which instead now remains as a broken link).

[2022-02-06 18:19] ak1932 opened #476 "Safeeyes sometimes gobbles up 1 cpu core"
**Describe the bug**
Every once in a while safeeyes fully uses 1 CPU core.
The process "aplay -q /usr/lib/python3.10/site-packages/safeeyes/resource/on_stop_break.wav" uses the core.

**To Reproduce**
Haven't noticed any pattern to this behaviour

**Expected behavior**
It shouldn't use 1 CPU core?

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - Desktop Env i3wm
 - Ve

[2022-02-06 18:36] nenkoru commented on #476
Well, I guess the question here is more likely to go to `aplay` as long as SafeEyes just calls it for executing the sound.
I wonder if you have some Pipewire installed? It could be an issue as well tho.

[2022-02-08 14:15] gitchhiker commented on #328
Same for me using SE 2.0.9 on Ubuntu 20.04:
Turning on the computer from suspend gives an instant SafeEyes alert, and a break after the 20 seconds I set.
Would also be interested in this one :slightly_smiling_face:

[2022-02-09 20:20] ak1932 commented on #476
Pipewire seems to be the culprit I removed it yesterday (It had come as a dependency of a package I longer needed anyway) and haven't noticed this bug again.

[2022-02-09 20:22] ak1932 commented on #476
Will let you know if it pops up again. BTW, safeeyes is preety cool I am have a **very** noticeable difference in my eyes. Thanks 😄

[2022-02-09 20:44] #476 closed

[2022-02-20 00:30] anishmittal2020 commented on #445
@slgobinath Is there any progress on this? The loud notifications sound, just leaves me startled all the time.

[2022-02-23 15:45] AndresMpa commented on #331
Hey, I have the same issue on my OS with safeeyes 2.1.3

OS: Arch Linux
WM: Qtile (0.20.0)
Kernel: 5.16.10-zen1-1-zen

I found this also: https://bugs.launchpad.net/ubuntu/+source/caffeine/+bug/1879518

[2022-02-24 03:56] AndresMpa opened #477 "Critical Bug due to Gdk"
**Describe the bug**

I wanted to initialize safeeyes together with nm, but when I type what I need to do it on my .xinitrc, it makes Xorg fail dude to a non-critical bug, if you run safeeyes from a terminal ([see this report](https://github.com/slgobinath/SafeEyes/issues/331)); but when you run it as I do It makes fail Xorg, so Qtile doesn't display what It should also command from keyboard doesn

[2022-03-01 23:41] Erudition commented on #445
@anishmittal2020  As I mentioned, I simply have the chime turned off. So yes, it is possible to mute SafeEyes completely, just look in your options...

[2022-05-07 10:39] snakeru opened #478 "Feature request: Yes/No buttons at the end of the break"
The problem: I try to use SafeEyes to force myself to do a small exercise (say, 2-3 pull ups). However it is much easier to just wait these 40 seconds instead of going somewhere in that time.

Proposed solution: ask a question at the end of the break, provide Yes/No buttons as answer options. Make question text configurable. "Yes" button would just unlock the screen. The "No" button action could b

[2022-05-07 18:29] snakeru commented on #478
A poor man's solution:
I have edited the `.po` file to say "I did 3 pull ups" instead of "Skip", then compiled `.po` to `.mo` and enabled skips :-)

[2022-05-10 12:42] slgobinath commented on #478
Hi @snakeru ,
Thank you for your feature request. It is a valid requirement and I am thinking about adding a plugin to ask this question at the end of a break (similar to the audible alert at the end of the break) and start the break again if the user clicks No.

However I don't have the bandwidth to implement it right now. I am working on Safe Eyes 3.0 from scratch (I started last year and then d

[2022-05-13 10:17] snakeru commented on #478
Some feedback after almost a week of trying out my solution:

1) this strategy has significantly more effect than just locking the screen with instructions what to do. I now have a choice of either doing it and saving myself some time or just patiently waiting. Before I had to wait in any case so there was no incentive.

2) it would probably be even better if there were several buttons allowing me

[2022-05-15 02:32] ashvinnihalani opened #479 "Full Screen Multi Monitor Bug"
**Describe the bug**
When you have an application in full-screen mode on one monitor, the break only appears on the second screen not the screen with the full-screen application. This is even with the DoNotDisturb Plugin disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Youtube.com, and watch in a video in full screen
2. Wait for the timer to pass
3. The take a break screen onl

[2022-05-24 17:14] soredake commented on #428
No icon on fedora kde 36 also.

[2022-05-25 07:33] soredake commented on #428
Problem solved, safeeyes from third-party repo was missing `libappindicator-gtk3` dep.

[2022-05-25 07:34] soredake commented on #428
https://github.com/rpmsphere/noarch/issues/2

[2022-05-30 11:02] AntonOellerer commented on #432
Hey, just because I just noticed it here, I am receiving the
[code]
error as well with the pip installation on fedora 36.
Python 3.10.4
Pip version 21.3.1
Gnome version 42.1

[2022-07-03 07:28] UtkarshVerma opened #480 "Escape key doesn't work on wayland"
**Describe the bug**
Pressing escape during a break doesn't exit safeeyes.

**To Reproduce**
Steps to reproduce the behavior:
1. Take a break
2. Press escape
3. Nothing happens

**Expected behavior**
Safeeyes break should be stopped.

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - Desktop Env: SwayWM / Wayland
 - Version: 2.1.3

[2022-07-29 14:04] BlueberryEco opened #482 "Dependencies abandoned or unavailable on Fedora"
The Smart Pause plugin requires the package xprintidle for working on Xorg. The recommended source for xprintidle (on Fedora, at least) is an outdated repository which seems to be abandoned. I also downloaded a more recent version of xprintidle from the RPMSphere repository, and it does not work properly. If called on the command line, xprintidle produces the following error message:

`bash: /usr/

[2022-08-08 07:15] calbasi opened #483 "Documentation / Help / Manual"
I can't found any manual, help section, etc.

Despite most of the settings are self-describing and easy to understand, few of them are not, so I think it could be a good idea have a FAQ, help section, documentation, etc.

It could be integrated on the application, or maybe included on the website, etc.

What do you think about?

[2022-09-02 19:02] Rosuavio commented on #473
I also have this issue on sway.

[2022-10-18 09:21] prakhartiwari0 opened #487 "The reset button is not visible in Ubuntu 22.04"
**Describe the bug**
In the settings of safe eyes app, when I click on the icon at top left, I couldn't read what's written in the button that pops up because its completely white in there

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Icon of Safe Eyes at the top left of the window'
3. See the problem in the popup button

**Expected behavior**
It should be cle

[2022-10-19 09:53] slgobinath commented on #487
Thanks for reporting. This is a CSS styling issue https://github.com/slgobinath/SafeEyes/blob/master/safeeyes/config/style/safeeyes_style.css#L109-L123

Until I fix it, you can modify with the CSS file available at `/home/gobinath/.config/safeeyes/style/safeeyes_style.css`

[2022-10-19 10:14] prakhartiwari0 commented on #487
Sure @slgobinath Let me check if I can, I will definitely help you with it!

[2022-10-19 10:46] prakhartiwari0 commented on #487
Hey @slgobinath Can you guide me with the basics of the code?
Is there any good resource from where I can learn how Linux Apps work, I know Python enough to understand the code, but until I understand the process, functions, module, the overall functionality of the code, I cannot do anything?

[2022-10-19 12:31] prakhartiwari0 commented on #487
Thanks a lot for your guidance. And I will be waiting for those articles eagerly. If you can, then please share them with me once you have published them.
I will learn the concepts and things required, brush up and enhance my Python skills and whatever is required to become a contributor to this project. And also, solve this particular issue.

Thanks again

[2022-10-21 13:05] pedro-nonfree opened #488 "allow changing audios at least, through the safeeyes json configuration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I cannot change the audio alerts

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

allow changing the audio alerts in ~/.config/safeeyes/safeeyes.json

**Describe alternatives you've conside

[2022-10-28 08:25] vanarok commented on #473
I have the same problem. Laptop && Monitor. Sway.
[code]

[2022-10-30 17:43] vanarok commented on #473
I debugged the problem and found a workaround. In my case, two break screens do get created and for some reason they spawn in the same workspace. The workaround is to set the sway output for the break screen in the config. Break screen you may have a different number depending on which primary-display you have.
Ex: ```
for_window [title="SafeEyes-0"] move to output $output-secondary
[code]

[2022-11-01 18:18] lamyergeier opened #489 "Question: Is it possible to skip the break if the window is in full screen mode?"
Question: Is it possible to skip the break if the window is in full screen mode?

OS: Ubuntu 22.04
Wayland

[2022-11-16 07:39] lamyergeier commented on #445
@Erudition There is no such setting, please see the screenshot below:

![image](https://user-images.githubusercontent.com/42092626/202117187-274c9997-a737-42f2-8f0e-fc9663e0fe37.png)

Can you please tell where you found that settings?

[2022-11-16 07:41] lamyergeier commented on #445
@slgobinath  Is it possible to delete the audio bell sound? So that i don't hear it at all. If yes, kindly share where can I find it on Ubuntu.

[2022-11-16 07:47] lamyergeier commented on #445
[code]

[2022-11-18 19:28] wolftune commented on #144
Since https://github.com/slgobinath/SafeEyes/discussions exists now, does it make sense to close this and move it there (or can it be moved?)

[2022-11-18 19:40] wolftune commented on #275
Check out how Workrave does it! https://github.com/rcaelers/workrave/

Intrusive-enough nag warning that does *not* block continued use (does not cover screen nor grab system input), and if you ignore it by continuing activity, that counts as postponing. Then, when the break happens, there are options for either black screen, don't block screen but do block input, or no blocking of anything.

I wo

[2022-11-18 20:53] wolftune commented on #436
I would suggest updating this ticket to be something like "update the default exercises" and make a check-box for reviewing recommended best practices from health science etc. This is a topic those of us who are not programmers could certainly help with.

[2022-11-19 14:55] hiqua commented on #428
@slgobinath could you release a new version including the fix of this bug (basically the current HEAD)? Right now Debian would have to either cherry-pick the commit / have their own special version, which is unfortunate given that the fix is already there.

The Debian testing is also freezing its packages soon (early next year I think) so it'd be awesome if this fix could be shipped before that.

[2022-11-20 22:55] slgobinath commented on #428
Hi @hiqua ,
Thanks for reminding me on this. I've released a new version https://github.com/slgobinath/SafeEyes/releases/tag/v2.1.4 from the current master branch.

My apologies to the community for not being active as I used to be due to several other commitments.

[2022-11-20 22:55] #428 closed

[2022-11-21 05:16] wolftune commented on #489
Try the "Do Not Disturb" plugin in the settings. If that doesn't work, you could report that specifically as a bug.

[2022-11-21 08:47] izikeros commented on #462
@slgobinath - is there some plan breakdown into the tasks needed to support macOS in v3? This would ease and encourage contributing. I don't know what is done and what needs to be done.

I miss SafeEyes after migration from Linux to macOS and perhaps I could help with some contribution.
Thank you for that great piece of free software!

[2022-11-21 15:50] hiqua commented on #428
Awesome, thanks a lot!

[2022-11-22 13:25] slgobinath commented on #462
Hi @izikeros ,
I actually started working on Safe Eyes 3 POC with support for both Linux and Mac but due to other projects, I left the code untouched for months. Safe Eyes 3 will include few major changes:
1. Switching to QT from Gtk (Gtk on Mac doesn't look native out of the box)
2. Complete redesign of Safe Eyes
3. Different incentive model (to motivate myself and contributors) - Safe Eyes will

[2022-11-22 13:34] slgobinath opened #490 "AUR Package Maintainer Required"
Hi there,
I'm struggling to find enough time and energy to maintain releases. Since I don't use Arch, I used to have Virtual Box to test and release Safe Eyes on [AUR](https://aur.archlinux.org/packages/safeeyes). It would be helpful, if any Arch users willing to take over the maintenance of AUR package.

Please comment below if you are interested.

[2022-11-23 07:42] hsingko opened #491 "Error loading plugins in Python3.11"
**Describe the bug**
Can't load those plugins on start.

**To Reproduce**
every time open safeeyes.

**Expected behavior**
- should show trayicon in system bar
- should get notification before breaks

**Desktop**
 - OS: Feodra 37
 - Desktop Env: wayland+gnome43
 - Version: 2.1.4
 - python version: 3.11

**Debug Log**
[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/74039

[2022-11-25 19:27] tibequadorian commented on #491
My investigation reveals the underlying error:
`module 'inspect' has no attribute 'getargspec'`

I'm sure this is because Python 3.11 dropped `inspect.getargspec` which was already deprecated.

[2022-11-26 03:06] hsingko commented on #491
@tibequadorian

this fix works fine, except `notification` plugin still doesn't work. I add a `traceback.print_exc()` before the `PluginManger.init log error` position, here is the trace:
[code]

[2022-11-27 05:16] hsingko commented on #491
Python3.11 breaks so many packages, I rolled back to 3.10, `safeeyes` works now.

[2022-11-27 08:58] SG01q opened #492 "SafeEyes showing status bar after break when in full screen mode in i3."
**Describe the bug**
Whenever a break ends and I was in full screen mode (no status bar is visible in this mode) in i3 window manager before the break, the status bar becomes visible and I somewhat leave the full screen mode. I have tried with i3status bar as well as polybar, same thing is happening.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a window in i3 in full screen mode
2. W

[2022-11-27 13:46] tibequadorian commented on #491
@hsingko For me the notification plugin loads fine after applying the fix.

[2022-11-28 21:18] poperigby commented on #490
I can take it over.

[2022-11-28 21:55] LKHN commented on #491
@tibequadorian

Everything works fine after applying the patch, Thank you very much!

[2022-11-29 01:35] poperigby opened #493 "SafeEyes won't launch, throwing `AttributeError: module 'gi' has no attribute 'require_version'`"
**Describe the bug**
I've installed the SafeEyes from the AUR with `paru -S safeeyes`. When I try to launch it, it crashes with this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install SafeEyes
2. Launch SafeEyes from the terminal

**Expected behavior**
SafeEyes launches

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - Desktop Env: KDE Plasma